html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.box {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;